/.well-known/*
/cgi-bin/*
.htaccess
*.shtml
*.php
composer.lock
composer.json
googlefcef4c1cff7a966e.html
robots.txt
sitemap.xml
/vendor/*
/umbra-games-update-mail/*
/connexion/*
!/assets
/assets/*
!/assets/banner.png
!/assets/capture_hub.gif